@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OnlineBookingApp.Models.Booking.Flight

<h2>Edit Flight</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Airline" class="control-label">Airline</label>
        <input asp-for="Airline" class="form-control" />
        <span asp-validation-for="Airline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartureTime" class="control-label">Departure Time</label>
        <input asp-for="DepartureTime" class="form-control" />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ArrivalTime" class="control-label">Arrival Time</label>
        <input asp-for="ArrivalTime" class="form-control" />
        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

